/* Estilos para las vistas de productos */
.users-list {
    .users-list-title {
        .ant-btn {
            background-color: $light-gray;
            border: none;
            cursor: pointer;
            color: $black;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: background-color 0.5s ease-in-out;
        }

        .ant-btn:hover {
            background-color: $gray;
        }
    }
}

.container-card {
    width: 65%;
    margin: 0 auto;

    .ant-card-head {
        background-color: $gray;
        text-align: center;
    }

    .ant-card-meta-title,
    .ant-card-head-title {
        font-weight: bold;
    }

    .ant-card-body {
        background-color: $aquamarine;
    }

    .ant-card-cover {
        img {
            height: 280px;
        }
    }
}
