.dropzone-container {
    border: 2px solid;
    border-style: dashed;
    height: 100px;

    .dropzone-body {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    ul {
        list-style: none;
    }

    p {
        text-align: center;
        font-weight: bold;
    }

    li {
        background-color: $white;
        padding: 3px;
        text-decoration: none;
    }
}
