// Ajuste de Formularios
.form-content {
    h1 {
        font-weight: bold;
        text-align: center;
    }

    .form-box {
        width: 700px;
    }
}

// Manejo del Componente OrderItem
.container-list {
    width: 40%;
    margin: 0 auto;
    background-color: $gray;

    .container-list-header {
        align-items: center;
        display: flex;
        font-weight: bold;
        font-size: 18px;
        justify-content: flex-end;

        p {
            margin: 0;
        }
    }

    .container-list-body {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
    }

    h1 {
        font-weight: bold;
    }
}

// Componente PaymenteForm
.container-transfer-info {
    border: 2px dashed $black;
    padding: 15px;
    p {
        font-weight: bold;
        margin: 0;
    }

    span {
        font-weight: normal;
    }

    // text-align: center;

    .container-bank-header {
        h2 {
            font-weight: bold;
        }

        text-align: center;
    }

    .container-zelle {
        h2 {
            font-weight: bold;
            text-align: center;
        }
    }
}
