.users-list {
    .users-list-title {
        display: flex;
        justify-content: space-between;

        h1 {
            font-size: 20px;
        }
    }

    .users-list-content {
        thead,
        .ant-table-thead {
            .ant-table-column-sorters,
            .ant-table-cell {
                background-color: $gray;
                color: $black;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
            }
        }

        .ant-table-row {
            text-align: center;
            background-color: $aquamarine;

            td {
                border-bottom: 5px solid $white;
            }

            .ant-table-cell {
                font-size: 15px;
                font-family: "Roboto";
                margin: auto;
                padding-top: 0;
                padding-bottom: 0;
                height: 50px;

                p {
                    margin: 0;
                }
            }
        }
    }
}
