/* Paleta de Colores */
$aquamarine: #9fd5d1;

$gray: #abb8c3;
$light-gray: #dde8f1;
$extra-light-gray: #f5f8fa;

$white: #fff;
$black: #000;
$red: red;
$white-transparent: #ffffff59;

$color1: #f2f2f2;
$color2: #707070;
$color3: #455a64;
