.home-container-dashboard {
    h1 {
        text-align: center;
        margin: 30px auto;
        font-size: 28px;
        font-weight: bold;
    }

    .ant-row {
        .container-us-text {
            // padding: 0;
            p {
                font-size: 14px;
            }
        }
    }

    .home-dashboard-us {
        background-image: linear-gradient(
                rgba(155, 155, 155, 0.5),
                rgba(155, 155, 155, 0.5)
            ),
            url("../../images/casatorta.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 550px;
    }

    .home-dashboard-recipes {
        background-image: linear-gradient(
                rgba(155, 155, 155, 0.4),
                rgba(155, 155, 155, 0.4)
            ),
            url("../../images/recetas.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 780px;
    }

    .home-dashboard-products {
        background-image: linear-gradient(
                rgba(155, 155, 155, 0.4),
                rgba(155, 155, 155, 0.4)
            ),
            url("../../images/productos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 780px;
    }
}
